form{margin:0 auto; width:50%; height:500px; background-color:#ccc; border-radius:8px; padding:10px;}
form input[type="text"]{ width:100%;  }
form fieldset{background-color:#fff;}
form button{width:40%; height:30px; }
